*,*::after*,::before {
    box-sizing: border-box;
}

body {
    margin:0;
}

:root {
    --cell-size: 150px;
    --mark-size: calc((var(--cell-size)*.7));
    --circle-image: url('/home/mikoppi/repos/Tic-tac-toe-1/pictures/Flushed Face Emoji.png'); 
    --x-image: url('/home/mikoppi/repos/Tic-tac-toe-1/pictures/Smiling Face with Tightly Closed eyes.png')
}

.board {
    width: 100vw;
    height:100vh;
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: center;
    align-content: center;
    background-color: rgb(221, 171, 156);

    
    
}
.cell {
    width:var(--cell-size);
    height:var(--cell-size);
    border: 1px solid rgb(162, 108, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

/* removes borders from grid*/
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top:none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left:none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right:none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom:none;
}

.cell.circle {
    background-image: var(--circle-image);
    background-size: var(--mark-size);
    background-repeat: no-repeat;
    background-position: center;   
}

.cell.x {
    background-image: var(--x-image);
    background-size: var(--mark-size);
    background-repeat: no-repeat;
    background-position: center; 
}

.board.x .cell:not(.x):not(.circle):hover {
    background-image: var(--x-image);
    background-size: var(--mark-size);
    background-repeat: no-repeat;
    background-position: center;
    opacity: .6;
    
}

.board.circle .cell:not(.x):not(.circle):hover {
    background-image: var(--circle-image);
    background-size: var(--mark-size);
    background-repeat: no-repeat;
    background-position: center;
    opacity: .6; 
}

.cell.x,
.cell.circle {
    cursor:not-allowed;
}

.winning-message {
    display: none;
    position: fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.733);
    
    justify-content: center;
    align-items:center;
    color: yellow;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: larger;
    font-size: 30px;
    
    
}

#restartButton {
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: larger;
    color: yellow;
    background-color: black;
    border-radius: 20px;
    border-style: none;
    margin-top: 50px;
}

.winning-message.show {
    display: flex;
}

.start-message {
    height:20vh;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 171, 156) ;
    gap:30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: larger;    
}

#startButton {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 20px;
    border-style: none;
    color: yellow;
    padding:10px;
    padding-left: 20px;
}
#startButton::after {
    
    background-image: var(--circle-image);
    background-size: 40px 40px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 40px;
    width: 50px;
    content: '';
    margin-left: 10px;

}

#startButton2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 20px;
    border-style: none;
    color: yellow;
    padding:10px;
    padding-left: 20px;
}
#startButton2::after {
    
    background-image: var(--x-image);
    background-size: 40px 40px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 40px;
    width: 50px;
    content: '';
    margin-left: 10px;
}